/* .header-container{
padding: 24px;
} */

.header-container{
    z-index: 5;
    width: 100%;
    background-color: var(--black2);
    border-radius: 24px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.headerfix{
    padding: 25px 20px;
}
.navigation{
    display: flex;
    gap: 16px;
    align-items: center;
}
.navigation li{
    list-style: none;
}
.logo h3{
    font-family:"logoFont";
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}
.burgerheader{
    cursor: pointer;
    display: none;
    background-color: transparent;
    border: none;
}

.main_header_positon{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 1000;
    
}
.mobilefix{
    padding: 0px 15px 15px 15px;
}
.header_mobile{

    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
    list-style: none;
    z-index: 20;
    width: 100%;
    background-color: var(--black2);
    border-radius: 24px;
}
.closeburger{
    background-color: transparent;
    border: none;
    padding: 20px;
}
.mobile{
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
}

.header_mobile{
    display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: var(--prymary);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
.burgerbutton{
    display: none;
}

@media screen and (max-width: 834px){
    .burgerbutton{
        display: inline;
    }
    .headerfix{
        padding: 15px;
    }
    .navigation{
        display: none;
    }
}
