.input{
    padding: 18px;
    background-color: var(--prymary);
    border: 2px transparent solid;
    border-radius: 10px;
    font-family: "coolvetregular";
    box-sizing: border-box;
    letter-spacing: 4%;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}
.input:hover{
    border: 2px var(--prymary-hover) solid;
}

.input::placeholder{
    color: white;
    opacity: 0.8;
}
.text_area{
    background-color: var(--prymary);
    border: none;
    padding: 18px;
    border-radius: 10px;
    color: white;
    font-family: "coolvetregular";
    box-sizing: border-box;
    font-size: 16px;
}
.text_area::placeholder{
    color: white;
    opacity: 0.8;
}