.heroblock{
    padding: 110px 20px 20px 20px;
}
.hero_container_portfolio{
    background-color: var(--black2);
    width: 100%;
    border-radius: 24px;
    height: 65vh;
    display: flex;
    flex-direction: column-reverse;
justify-content: flex-end;
}
.text_portfoliotitle{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.heroimgtitle{
    height: 250px;
    padding: 10px;
}
.heroimgtitle img{
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.qwefqwfqwf .titletext_translator{
    width: 100%;
}
.titletext_translator{
    padding: 14px;
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
    flex-direction: column;
}
.titletext_translatorrrr h4,
.titletext_translatorrrr h2{
    padding: 16px;
}

.text_title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.bloks_translator {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.frbltrans{
    display: flex;
    gap: 16px;
    align-items: center;
}
.rght,
.lfbl{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--black2);
    border-radius: 24px;
    height: 450px;
}
.lfbl img,
.rght img{
    width: 100%;
    height: 260px;
    border-radius: 16px;
    object-fit: cover;
}

.bloks_translator{
    padding-top: 32px;
}
.our_translator{
    padding: 100px 80px 20px 80px;
}
.title_of_blocks{
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.about_pur_people{
    margin-top: 50px;
    padding: 20px;
}
.about_our_container{
    border-radius: 24px;
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden; 
}

.about_our_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/src/assests/img/AboutUs/vlaue_people.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
    z-index: 1;
    
}
.about_ourpp_container{
    border-radius: 24px;
    width: 100%;
    height: 750px;
    position: relative;
}

.about_ourpp_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border-radius: 24px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.314), rgba(0, 0, 0, 0.529)),
        url(/src/assests/img/indeximg/Rectangle\ 25.png) center/cover;
    transition: transform 0.5s ease;
    z-index: 1;
}

.about_our_content{
    position: relative;
    z-index: 2; 
    color: white;
}
.about_our_contentt{
     position: relative;
    z-index: 2; 
    color: white;
        padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
        position: relative;
    z-index: 2; 
}

.about_ourpp_container:hover::before{
    transform: scale(1.1);
}
.about_our_container:hover::before {
    transform: scale(1.1); 
}
  
.about_our_content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.about_our_content{
    position: relative;
    z-index: 2; 
}


.stuff_fifasad{
    margin-top: 60px;
}
.stuff_title{
    padding: 0px 60px;
}


.containerstuff{
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: 32px;
    scrollbar-width: none;
}
.containerstuff{
    padding-top: 32px ;
    padding-left: 2vw;
    padding-right: 2vw;
}
.containerstuff{
    display: flex;
    gap: 16px;
}
.card_stuff{
    background-color: var(--black2);
    padding: 10px;
    width: 250px;
    height: 320px;
    border-radius: 16px;
 flex-shrink: 0;
}
.card_stuff img{
    object-fit: cover;
    width: 100%;
    height: 260px;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.text_of_card{
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.card_stuff_bg{
    height: 400px;
     flex-shrink: 0;
    width: 340px;
    padding: 10px;
    background-color: var(--black2);
    border-radius: 16px;
}
.card_stuff_bg img{
    width: 100%;
    height: 270px;
    border-radius: 20px;
    object-fit: cover;
}
.stuff_list{
    padding: 40px 30px 0px 30px;
}
.stuff_list{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 16px;
    padding-top: 32px;
    scrollbar-width: none;
}

.card_adventech{
    width: 320px;
    height: 180px;
    padding: 5px;
    background-color: var(--prymary);
    border-radius: 14px;
}



.nuber_ad{
    width: 97%;
    background-color: var(--black);
    padding: 5px;
    border-radius: 10px;
}

.text_of_adventech{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70%;
}
.text_of_adventech h3{
    width: 240px;
}
.checkbox{
    display: flex;
    gap: 8px;
}

.adventech_list{
    justify-content: space-between;
    display: flex;
    gap: 16px;
}
.checkbox h4{
    width: 30vw;
}


.grid_of_card {
    display: grid
;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.go_to_our_team{
    padding: 100px 100px 10px 100px;
}
.title_team{
    padding-bottom: 3vw;
}
.rgteam,
.lfteam{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact_blokc{
    display: flex;
    gap: 24px;
}

.inf{
    display: flex;
    justify-content: space-between;
}
.checkbox h4 a{
    text-decoration: none;
}

.checkbox h4 a:hover{
    text-decoration: underline;
}

.about_textarea{
    height: 15vw;
}
.contact-form{
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
}











@media screen and (max-width: 1194px){
    .our_translator {
    padding: 100px 14px 20px;
}
.go_to_our_team{
    padding: 100px 20px 10px 20px;
}
.adventech_list{
        display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}
.qwqdwef{
    align-items: center !important;
}
.bloks_translator {
    padding-top: 32px;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
}
@media screen and (max-width: 834px){
    .hero_container_portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
        height: 70vh;
}
.containerstuff{
    padding-top: 32px ;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.our_translator{
    padding: 100px 16px 20px 16px;
}
.heroimgtitle {
    padding: 10px;
    height: 100%;
}
.heroimgtitle img {
    height: 100%;
}
.heroblock {
    padding: 85px 20px 20px 20px;
}
.stuff_container{
    padding: 20px;
}
.text_portfoliotitle {
    padding: 16px;
    gap: 8px;
}
}
@media screen and (max-width: 700px){
        .our_translator {
        padding: 100px 36px 20px 36px;
    }
    .titletext_translatorrrr h4{
        padding: 30px 30px 30px 30px;
}
.contact-form{
    flex-direction: column;
    gap: 16px;
}
.go_to_our_team{
    padding: 400px 20px 10px 20px;
}
.adventech_list{
        display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
}
.titletext_translatorrrr h2 {
    padding: 30px 30px 0px 30px;
}
.about_our_container{
    border-radius: 24px;
    background-image: url(/src/assests/img/AboutUs//vlaue_people.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
height: 550px;
}
.stuff_list{
    padding: 30px 0px 0px 0px;
}
        .title_of_blocks {
    padding: 0px 0px 0px 0px;
    display: flex
;
    align-items: flex-end;
    justify-content: space-between;
}
.title_of_blocks{
    display: flex;
    flex-direction: column;
}
.stuff_title{
    padding: 0px 20px;
}
.сс{
    width: 100%;
}
.about_our_contentt h1{
    font-size: 50px;
}
.about_our_contentt{
     position: relative;
    z-index: 2; 
    color: white;
        padding: 40px;
    display: flex;
    flex-direction: column;
    height: 140%;
    justify-content: space-between;
        position: relative;
    z-index: 2; 
}
.frbltrans {
    display: flex
;
    gap: 26px;
    align-items: center;
    flex-direction: column;
}
.title_of_blocks{
    padding: 0px 0px 0px 0px;
    display: flex;
    gap: 16px;
    align-items: flex-end;
    justify-content: space-between;
    align-items: flex-start;
}
}

@media screen and (max-width: 450px){
        .lfbl img, .rght img {
    width: 100%;
    height: 40vw !important;
    border-radius: 16px;
    object-fit: cover;
}
.inf {
    display: flex
;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}
.checkbox h4 {
    width: 100%;
}
.about_textarea {
    height: 46vw;
}
.about_our_contentt h1 {
        font-size: 37px;
    }
    .text_of_adventech h3{
        font-size: 20px;
    }
}
