.heroblock{
    padding: 110px 20px 20px 20px;
}
.hero_container_portfolio{
    background-color: var(--black2);
    width: 100%;
    border-radius: 24px;
    height: 65vh;
    display: flex;
    flex-direction: column-reverse;
justify-content: flex-end;
}
.text_portfoliotitle{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.heroimgtitle{
    padding: 10px;
}
.heroimgtitle img{
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.qwefqwfqwf .titletext_translator{
    width: 100%;
}
.titletext_translator{
    padding: 14px;
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
    flex-direction: column;
}
.titletext_translatorrrr h4,
.titletext_translatorrrr h2{
    padding: 16px;
}

.text_title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.bloks_translator {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.frbltrans{
    display: flex;
    gap: 16px;
    align-items: center;
}
.rght,
.lfbl{
    padding: 10px;
    width: 100%;
    background-color: var(--black2);
    border-radius: 24px;
    height: 100%;
}
.lfbl img,
.rght img{
    width: 100%;
    height: 260px;
    border-radius: 16px;
    object-fit: cover;
}

.bloks_translator{
    padding-top: 32px;
}
.our_translator{
    padding: 100px 80px 20px 80px;
}
.title_of_blocks{
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
@media screen and (max-width: 1194px){
    .our_translator {
    padding: 100px 14px 20px;
}
.bloks_translator {
    padding-top: 32px;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
}
@media screen and (max-width: 700px){
        .our_translator {
        padding: 100px 36px 20px 36px;
    }
    .titletext_translatorrrr h4{
        padding: 30px 30px 30px 30px;
}
.titletext_translatorrrr h2 {
    padding: 30px 30px 0px 30px;
}
        .title_of_blocks {
    padding: 0px 0px 0px 0px;
    display: flex
;
    align-items: flex-end;
    justify-content: space-between;
}
.frbltrans {
    display: flex
;
    gap: 26px;
    align-items: center;
    flex-direction: column;
}
}
@media screen and (max-width: 834px){
    .hero_container_portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
        height: 70vh;
}
.our_translator{
    padding: 100px 16px 20px 16px;
}
.heroimgtitle {
    padding: 10px;
    height: 100%;
}
.heroimgtitle img {
    height: 100%;
}
.heroblock {
    padding: 85px 20px 20px 20px;
}
.text_portfoliotitle {
    padding: 16px;
    gap: 8px;
}
}