.hero_container{
    background-image: url(/src/assests/img/indeximg/background_index.png);
    width: 100%;
    border-radius: 24px;
    height: 73vh;
    background-color: #E75E0E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroblock{
    padding: 110px 20px 20px 20px;
}
.right_hero{
        padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_hero{
    padding: 20px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.connect{
    padding-left: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.listpotolok{
    display: flex;
    gap: 10px;
    flex-direction: column;

}
.hero_content{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.weareinchat{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sercle{
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: var(--prymary);
}
.title_hero h3{
    padding-top: 20px;
    opacity: 0.7;
}



@media screen and (max-width: 834px){
    .heroblock{
        padding: 90px 20px 20px 20px !important;
        
    }
    .hero_container{
        background-image: url(/src/assests/img/indeximg/background_index_mobile.png) !important;
    }
    .right_hero {
    display: none !important;
}
.connect {
    padding-left: 0px;
}
.left_hero {
    align-items: center !important;
}

}
@media screen and (max-width: 375px){
    .listpotolok,
    .title_hero h3{
        display: none !important;
    }
    
}