.hero_container{
    background-image: url(/src/assests/img/indeximg/background_index.png);
    width: 100%;
    border-radius: 24px;
    height: 73vh;
    background-color: #E75E0E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroblock{
    padding: 110px 20px 20px 20px;
}
.right_hero{
        padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_hero{
    padding: 20px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.connect{
    padding-left: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.listpotolok{
    display: flex;
    gap: 10px;
    flex-direction: column;

}
.hero_content{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.weareinchat{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sercle{
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: var(--prymary);
}
.title_hero h3{
    padding-top: 20px;
    opacity: 0.7;
}
.portfolio_block{
    padding: 20px;
}
.title_of_block{
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkbutton{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-end;
}

.projectitem_container{
    cursor: pointer;
    padding: 10px;
    width: 339px !important;
    height: 395px;
    background-color: var(--black2);
    border-radius: 24px;
    flex-shrink: 0;
}
.project_item_content img{
    border-radius: 16px;
    width: 100%;
    height: 269px;
    object-fit: cover;
}

.text_projectItem{
    height: 109px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectitem{
    width: 100%;
    overflow-y: hidden;
    scrollbar-width: none;
    overflow-x: auto;
    gap: 16px;
    display: flex;
    padding-top: 32px;
}

@media screen and (max-width: 834px){
    .heroblock{
        padding: 90px 20px 20px 20px !important;
        
    }
    .hero_container{
        background-image: url(/src/assests/img/indeximg/background_index_mobile.png) !important;
    }
    .right_hero {
    display: none !important;
}
.connect {
    padding-left: 0px;
}
.left_hero {
    align-items: center !important;
}

}
@media screen and (max-width: 375px){
    .listpotolok,
    .title_hero h3{
        display: none !important;
    }
    
}