.heroblock{
    padding: 110px 20px 20px 20px;
}
.hero_container_portfolio{
    background-color: var(--black2);
    width: 100%;
    border-radius: 24px;
    height: 65vh;
    display: flex;
    justify-content: space-between;
}
.text_portfoliotitle{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.heroimgtitle img{
    width: 45vw;
    border-radius: 24px;
    padding: 10px;
    object-fit: cover;
}

@media screen and (max-width: 834px){
    .heroblock{
        padding: 90px 20px 20px 20px !important;
    }
    .hero_container_portfolio{
        flex-direction: column;
            height: 74vh;
    }
    .heroimgtitle img{
        width: 100%;
        padding: 0px;
    }
    .heroimgtitle{
        padding: 10px;
    }
    .heroimgtitle img{
        border-radius: 16px;
    }
    .text_portfoliotitle {
        padding: 24px;
    }


}