body{
    margin: 0 auto;
    background-color: var(--black);
    font-family: "coolvetregular";
    color: white;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    list-style: none;
}
:root{
    --prymary: #E75E0E;
    --prymary-hover: #e75e0e52;
    --black: #171717;
    --black2: #1D1D1D;
    --black3: #252525;
}
@media screen and (max-width: 1440px){
    .wrapper{

        /* padding: 3vw 3vw; */
        margin: 0 auto;
    }
}
.stroke_main{
    border: 1.5px var(--black3) solid;
}

.stroke_mainhover{
    cursor: pointer;
    border: 1.5px var(--black3) solid;
    transition: all 0.2s ease;
}
.stroke_mainhover:hover{
    border: 1.5px var(--prymary) solid;
}

.stroke_mainhover:active{
    border: 1.5px var(--prymary-hover) solid;
}