body{
    margin: 0 auto;
    background-color: var(--black);
    font-family: "coolvetregular";
    color: white;
}
html{
    scroll-behavior: smooth;
}
a{
    color: white;
    text-decoration: none;
}


:root{
    --prymary: #E75E0E;
    --black: #171717;
    --black2: #1D1D1D;
    --black3: #252525;
}


@media screen and (max-width: 1440px){
    .wrapper{
        max-width: 1400px;
        padding: 2vw 2vw;
        margin: 0 auto;
    }
}


.stroke_main{
    border: 1.5px var(--black3) solid;
}
