body{
    margin: 0 auto;
    background-color: var(--black);
    font-family: "coolvetregular";
    color: white;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    list-style: none;
}
:root{
    --prymary: #E75E0E;
    --black: #171717;
    --black2: #1D1D1D;
    --black3: #252525;
}


@media screen and (max-width: 1440px){
    .wrapper{

        /* padding: 3vw 3vw; */
        margin: 0 auto;
    }
}
@media screen and (max-width: 834px){
    .heroblock{
        padding: 90px 20px 20px 20px !important;
        
    }
    .hero_container{
        background-image: url(/src/assests/img/indeximg/background_index_mobile.png) !important;
    }

}
@media screen and (max-width: 375px){
    .listpotolok,
    .title_hero h3{
        display: none !important;
    }
}


.stroke_main{
    border: 1.5px var(--black3) solid;
}


.hero_container{
    background-image: url(/src/assests/img/indeximg/background_index.png);
    width: 100%;
    border-radius: 24px;
    height: 73vh;
    background-color: #E75E0E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroblock{
    padding: 110px 20px 20px 20px;
}
.right_hero{
        padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_hero{
    padding: 20px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.connect{
    padding-left: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.listpotolok{
    display: flex;
    gap: 10px;
    flex-direction: column;

}
.hero_content{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.weareinchat{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sercle{
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: var(--prymary);
}
.title_hero h3{
    padding-top: 20px;
    opacity: 0.7;
}
